.landing {
    background-color: $custom-dark-blue;
    color: $custom-text-color;
    height: 100vh;

    .headers {
        color: $custom-text-color;
        font-family: 'Work Sans';
        font-size: 20px;
        font-weight: bold;
        margin-top: 40px;
        text-align: left;
        padding: 0 30px;

        .header-right{
            text-align: right;
        }

        @include breakpoint(large){
            font-size: 40px;
            margin-top: 70px;
        }
    }

    .title {
        font-family: 'Work Sans';
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        margin-top: 360px;

        @include breakpoint(large){
            font-size: 100px;
            margin-top: 210px;
        }
    }

    .project-members {
        border-top: 5px solid $custom-light-grey;
        color: $custom-light-blue;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 25px;
        padding-top: 25px;

        @include breakpoint(large){
            font-size: 35px;
            margin: 25px 0px 0px 0px ;
            padding: 25px 0px 0px 0px ;
        }
    }

    .arrow {
        margin: auto;
        margin-top: 300px;

        @include breakpoint(large){
            margin-top: 200px;
        }

    }
    
}

  .text {
    color: $custom-text-color;
    font-size: 30px;
  }

//   iframe {
//       width: 50%;
//       height: 50%;
//     }
  