.mega {
    // height: 100vh;

    .heading {
        border-bottom: 5px solid $custom-light-blue;
        color: $custom-dark-blue;
        font-size: 40px;
        font-weight: bold;
        margin: 30px 0px 30px 0px;
        text-align: center;
    }

    .text {
        color: $custom-light-grey;
        font-size: 30px;
        margin: 40px;
    }

}