.banner {
    background-color: $custom-dark-blue; 
    color: $white;
    height: 160px;
    
    .banner-text {
        color: $custom-text-color;
        font-family: 'Work Sans';
        font-size: 40px;
        font-weight: bold;
        margin-top: 50px;
        margin-left: 40px;

        @include breakpoint(large){
            margin-left: 0px;
        }
    }
}