.block-text{
    background-color: $custom-dark-blue;
    color: $custom-text-color;
    border: 30px solid $white;
    text-align: center; 
    width: 720px;

    .block-title {
        font-size:20px;
        font-weight: bold;
        margin: 50px 80px 0px 50px;
    }
    
    .block-sub {
        margin: 45px;
    }
}